# Python-Essentials :Assignment 2 (Day-2)
# SUBMITTED BY:Shalini kumari

In [22]:
#LISTS

list1 = [101,'Shalini','BE-Comp',678902345,'sk@yahoo.com']
list1

[101, 'Shalini', 'BE-Comp', 678902345, 'sk@yahoo.com']

In [23]:
#adding new item in list
list1.append('Pune')

list1

[101, 'Shalini', 'BE-Comp', 678902345, 'sk@yahoo.com', 'Pune']

In [24]:
#finding item's index
list1.index('BE-Comp')

2

In [25]:
#copying one list to another
list2=list1.copy()
list2

[101, 'Shalini', 'BE-Comp', 678902345, 'sk@yahoo.com', 'Pune']

In [26]:
#removing particular item
list1.remove(678902345)
list1

[101, 'Shalini', 'BE-Comp', 'sk@yahoo.com', 'Pune']

In [27]:
#deleting all items in list
list1.clear()
list1

[]

In [50]:
#DICTIONARIES

mydict = {
  "Roll no": 101,
  "Name": "Shalini",
  "year": 2017
}
print(mydict)

{'Roll no': 101, 'Name': 'Shalini', 'year': 2017}

In [51]:
#Accessing Items
x = mydict["Name"]
x

'Shalini'

In [52]:
#getting value of a key:

x = mydict.get("Roll no")
x

101

In [53]:
#getting all keys
mydict.keys()

dict_keys(['Roll no', 'Name', 'year'])

In [47]:
#getting all the values
mydict.values()

dict_values([101, 'Shalini', 2017])

In [54]:
#poping last item
mydict.popitem()
mydict

{'Roll no': 101, 'Name': 'Shalini'}

In [57]:
#updating dictionaries
mydict.update({"class": "BE-comp"})
mydict

{'Roll no': 101, 'Name': 'Shalini', 'class': 'BE-comp'}

In [58]:
#SETS

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [59]:
#finding difference
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

In [60]:
#intersection
x = {"a", "b", "c"}
y = {"c", "d", "e"}


result = x.intersection(y)

print(result)

{'c'}

In [62]:
#disjoint
#Return True if no items in set x is present in set y else false
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)

x = {"a", "b", "c"}
y = {"f", "d", "e"}

z = x.isdisjoint(y)

print(z)

False
True

In [63]:
#subset
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [64]:
#union
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'microsoft', 'cherry', 'banana', 'apple', 'google'}

In [65]:
#TUPLES

thistuple = ("apple", "banana", "cherry")
thistuple

('apple', 'banana', 'cherry')

In [71]:
#counting items
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(7)

x

2

In [72]:
#getting index of items
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

x

3

In [77]:
#STRINGS

a = "Hello, Programmers!"
a[1]

'e'

In [76]:
a[3:10]

'lo, Pro'

In [80]:
#number of times a specified value occurs in a string
a.count('o')

2

In [83]:
#true if the string ends with the specified value
a.endswith("!")

True

In [84]:
#returns the position of char
a.index('l')

2

In [86]:
#spliting and changing into list
a.split(',')

['Hello', ' Programmers!']

In [88]:
#changing in upper case
a.upper()

'HELLO, PROGRAMMERS!'

In [90]:
#changing in lower case
a.lower()

'hello, programmers!'